* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

._container-one {
    padding: 5% 0% 3% 0%;
    display: flex;
    align-content: center;
}

._container-title {
    margin: auto;
    font-size: 25px;
}

._container-two {
    padding: 2.5%;
    display: flex;
    align-content: center;
}

._container-login {
    margin: auto;
}

._container-login input {
    font-size: 30px;
    margin: auto;
    outline: none;
    display: block;
    border:none;
    border-bottom:1px solid black;
    box-sizing: border-box;
}

#login {
    cursor: pointer;
    margin: auto;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
}

#registrer {
    cursor: pointer;
    margin: auto;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
}

._forgot-psw {
    cursor: pointer;
    float: right;
    padding: 0% 0% 5% 0%;
}
